.prueba{
  display: flex;
  justify-content: space-around;
  padding-top: 96px;
  padding-bottom: 96px;
  a{
    text-decoration: none;
 
   .card__shop{
    background-image: url(../assets/descarga.jpg);
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    h3{
      font-size: 40px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 700;
       color: #595844;
    }
    p{
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #595844;
    }
   }
  }

  a{
    text-decoration: none;
  }
   .card__us{
    background-image: url(../assets/us.jpg);
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    h3{
      font-size: 40px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 700;
      color: #595844;
    }
    p{
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #595844;
    }
   }
  
}

.steps{
  padding-bottom: 96px;
  .steps__{
    display: flex;
    flex-direction: column;
    text-align: center;
    h2{
      margin-bottom: 60px;
      font-family: $binafont;
    }
    .steps__icons{
      display: flex;
      justify-content: space-around;
      svg{
        fill: $bgsection;
      }
      p{
        padding-top: 40px;
        justify-content: space-around;
      }
    }

  }
}

.banner2{
 background-color: $bgsection;
max-width: 1900px;
height: 500px;

.banner{
  display: flex;
  
   padding-top: 50px;
 
  .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: rgba(251, 252, 252, 0.8) ;
    margin-left: 50px;
    height: 401px;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;

    h3{
      font-family: $binafont;
      text-transform: uppercase;
      
    }
    p{
      font-family: $binafont;
      font-size: 18px;
    }
  }

  .img{
    height: 250px;    
    padding-right: 50px;
    
    
    
  }
}
}

.formulario{
 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  .form__container{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 96px;
   text-align: center;
  
   h2{
    font-family: $binafont;
    color:#595844;
  }
   .form-label{
    color: #474739;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .form-control{
    border: 1px solid #73725E;
   }
  }
  .btn{
    background-color: #73725E;
    color: #fff;
    border: 1px solid #73725E;
    display: flex;   
   align-items: center;
   justify-content: center;
   width: 200px;
  }
  .btn:hover{
    border: 1px solid #73725E;
    color: #fff;
    background-color: #595844;
    
  }
}
.carousel-inner{
   padding-top: 90px;
  .carousel-item img {
   
    height: 520px;
   
  }
}
/* modificacion mapa de carrusel*/ 



/*Mobile Styles */
@media only screen and (max-width: 400px) {
   
  section {
   width: 100%;
   height: 100% ;
  }

  
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
section {
  width: 100%;
  height: 100% ;
 }
 .sectionHistoria{

   .historia__article--parrafo{
     font-size: 85%;
     margin-right: 20%;
   }
   .imagen__historia{
     margin-top: 40%;
   }
 }


}



/* Desktop Styles */
@media only screen and (min-width: 961px) {
 body {
 background-color: #FBFCFC;
 }
}


