   .footer{
      background-color: $bgsection;
      height: 15rem;
      width: 100%;
      margin-top: 5rem;
      
    .container{
      display: flex;
      padding-top: 3.5rem;
      justify-content: space-around;
      align-items: center;
      .info__footer{
       svg{
          fill: #73725E;
          margin: auto;
       }
       svg:hover{
          fill: #474739;
       }
       h4{
          font-size: 20px;
          color: #474739;
          padding-top: 15px;
       }
       a{
          text-decoration: none;
          color: #73725E;
       }
 
       a:hover{
          color: #474739;
       }
      }
    }

 
}


/*Mobile Styles */
@media only screen and (max-width: 400px){
   .footer{
      width: 100%;
      margin-top: 1rem;
      .footer__div{
        width: 27%;        
        margin-bottom: 5%;
        .footer__titulo{
           font-size: 60%;
        }
        .footerlinks{
           font-size: 50%;
        }
      }
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px){
   .footer{
      width: 100%;
      
      .footer__div{
        width: 27%;        
        margin-bottom: 5%;
        .footer__titulo{
           font-size: 60%;
        }
        .footerlinks{
           font-size: 50%;
        }
      }
    }
}
