.sectionProd {
  padding-top: 150px;
  .container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    .card {
      background-color: #f1f1f1;
      -webkit-box-shadow: 7px 18px 53px -12px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: 7px 18px 53px -12px rgba(0, 0, 0, 0.55);
      box-shadow: 7px 18px 53px -12px rgba(0, 0, 0, 0.55);
      img {
        max-height: 300px;
      }
      .card-body {
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;

        .btn {
          background-color: #73725e;
          color: #fff;
          border: 1px solid #73725e;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
        }
        .btn:hover {
          border: 1px solid #73725e;
          color: #fff;
          background-color: #595844;
        }
      }
    }
  }
}


 