.sectionProd {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 9rem;
    padding-bottom: 1.5rem;
    background-color: #f8f8f8;
    article{
      padding-top: 20px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .cards{
         background: url(../assets/cuadrosx3.PNG);
         transition: all 0.5s;
         height: 350px;
         width: 250px;
         display: flex;
        
         flex-direction: column;
         
         text-align: center;
    align-content: center;
    justify-content: center;
         h5{
            display: none;
            color: #fff;
         }
         p{
            display: none;
            color: #fff;
         }
      }
      .cards:hover{
       transform: scale(1.1);
       background-color: rgba(0, 0, 0, 0.3);
       h5{
         display: block;
       }
       p{
         display: block;
       }
      }
    }
    
    .article2{
      padding-top: 20px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .cards{
         background: url(../assets/percherotiradores.JPG);
         transition: all 0.5s;
         height: 350px;
         width: 250px;
         display: flex;
        
         flex-direction: column;
        
         text-align: center;
    align-content: center;
    justify-content: center;
         h5{
            display: none;
            color: #fff;
         }
         p{
            display: none;
            color: #fff;
         }
      }
      .cards:hover{
       transform: scale(1.1);
       background-color: rgba(0, 0, 0, 0.3);
       h5{
         display: block;
       }
       p{
         display: block;
       }
      }
    }
       
    .article3{
      padding-top: 20px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .cards{
         background: url(../assets/lamparacubo.PNG);
         transition: all 0.5s;
         height: 350px;
         width: 250px;
         display: flex;
        
         flex-direction: column;
         
         text-align: center;
    align-content: center;
    justify-content: center;
         h5{
            display: none;
            color: #fff;
         }
         p{
            display: none;
            color: #fff;
         }
      }
      .cards:hover{
       transform: scale(1.1);
       background-color: rgba(0, 0, 0, 0.3);
       h5{
         display: block;
       }
       p{
         display: block;
       }
      }
    }
    
      
}


  
   /* SUBMENU velas y lamparas*/ 
  
   .section__velas{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 3.1rem;
      background-color: $bgsection;
      border-color: $bordercolor;
  border-style: solid;
  border-width: 0.1rem;  


      .article__velas{
         border-radius: 1.25rem;
       border-color: $bordercolor;
       border-style: solid;
       border-width: 2px;  
       
         .imagenvela {
            width: $widthpics;
            height: $heightpics;
            transition: all 2s;
            border-radius: 1.25rem;
         }
         .imagenvela:hover{
            padding: 1.25rem;
            width: 21.8rem;
            height: 28.1rem;

         }
         

         .nombrevela{
            font-family: $binafont;
            font-size: 1.25rem;
            justify-content: center;
            margin-top: 1.25rem;
            justify-items: center;
            display: flex;
         }
      }
   }

   .sectiontabla{
      margin-top: 5rem;
      margin-bottom: 2.5rem;
      background-color: $bgsection; 
      
    
      .tablaProducto   {
     font-family: $binafont;
     font-style: italic;
     font-size: 15px;
     margin-left: 65px;
     
     
  
     
    }
     }

     /*Mobile Styles */
 @media only screen and (max-width: 400px) {
        
      .sectionProd{
         display: flex;     
         flex-direction: column;
         text-align: center;
      
      .articleProd{  
         
        
              
      
         .imagenProducto img{
           width: 85%;              
           transition: all 2s;
           
           
         }
         
          .imagenProducto img:hover {
              width: 100%;
              
             
          }
          .descripcionProducto{
             margin-top: 1.25rem;
             font-family: $binafont;
             font-size: $binafontsize;
             
          }
       }
       
   }
   /*velas y lámparas*/ 
   .section__velas{   
      display: flex;     
      flex-direction: column;
      text-align: center;
   
      

      .article__velas{
         border-radius: 1.2rem;
       border-color: $bordercolor;
       border-style: solid;
       border-width: 0.1rem; 

       
         .imagenvela {
            width: 85%;            
            transition: all 2s;
         }
         .imagenvela:hover{
            padding: 1.2rem;
            width: 100%;

         }
         

         .nombrevela{           
            font-size: 1.2rem;          
            margin-top: 1.2rem;
           
         }
          }
           }
           .tablaProducto   {
           display: none;         
                     
         
            
           }
 }

 /* Tablet Styles */
 @media only screen and (min-width: 401px) and (max-width: 960px){
   .sectionProd{
      display: flex;     
      flex-direction: column;
      text-align: center;
   
   .articleProd{             
   
      .imagenProducto img{
        width: 85%;              
        transition: all 2s;
        
         }
      
       .imagenProducto img:hover {
           width: 100%;
           
          
       }
       .descripcionProducto{
          margin-top: 1.25rem;
          font-family: $binafont;
          font-size: $binafontsize;
          
       }
    }
}
/*velas y lámparas*/ 
.section__velas{   
   display: flex;     
   flex-direction: column;
   text-align: center;

   

   .article__velas{
      border-radius: 1.2rem;
    border-color: $bordercolor;
    border-style: solid;
    border-width: 0.1rem; 
    
      .imagenvela {
         width: 85%;            
         transition: all 2s;
      }
      .imagenvela:hover{
         padding: 1.2rem;
         width: 100%;

      }
      .nombrevela{
        
         font-size: 1.2rem;       
         margin-top: 1.2rem;
        
      }
       }
        }
 }