/* VARIABLES*/
$bordercolor: rgb(255, 255, 255);
$binafont: 'Benne', serif;
$binafontsize: $binafont - 1px;
$bgbody:#fff ;
$bgsection: #C9C7AD ;
$colorfontgeneral: darkslategray;
$heightpics: 22rem;
$widthpics: 15rem;

/*$bgbody: #FBFCFC;*/
/*$bgsection: #F6F2E9;*/
/* import secciones scss */ 
@import "header";
@import "bodyindex";

@import "productos";

@import "footer";



body{
         background-color:$bgbody ;
          
         }



 



 