@charset "UTF-8";
/* VARIABLES*/
/*$bgbody: #FBFCFC;*/
/*$bgsection: #F6F2E9;*/
/* import secciones scss */
.encabezado {
  margin-top: 0;
  background-color: #fff;
}

.encabezado .carousel {
  max-width: 1500px;
}

.encabezado .navbar {
  padding-top: 0;
  padding-bottom: 0;
  z-index: 3;
  position: fixed;
  width: 100%;
}

li {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 14px;
}

ul ul {
  position: absolute;
  display: none;
}

ul li:hover ul {
  display: block;
  background-color: #D0BFB5;
}

li li {
  position: relative;
  display: block;
  margin: 5px 50px 10px 0px;
}

/* navegador */
.container-fluid {
  background-color: #73725E;
  padding: 10px 0;
  width: 100%;
}

.container-fluid .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  padding-top: 15px;
}

.container-fluid .navbar-nav li p {
  font-family: "Benne", serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
}

.container-fluid .navbar-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-weight: 200;
}

.container-fluid .navbar-nav .nav-link:hover {
  color: #D9D9D9;
}

.container-fluid .navbar-nav .dropdown-item {
  font-family: "Benne", serif;
  font-size: 15px;
  color: darkslategray;
}

/*Mobile Styles */
@media (max-width: 1000px) {
  .encabezado .navbar .carousel-inner {
    padding-top: 50px;
  }
  .banner2 .banner {
    max-width: 1000px;
  }
  .banner2 .banner .text {
    width: 200px;
  }
  .banner2 .banner .img {
    width: 400px;
    height: 150px;
  }
}

.prueba {
  padding-top: 96px;
  padding-bottom: 96px;
}

.prueba .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  max-width: 1200px;
}

.prueba .container a {
  text-decoration: none;
}

.prueba .container a .card__shop {
  background-image: url(../assets/descarga.jpg);
  height: 500px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prueba .container a .card__shop h3 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #595844;
}

.prueba .container a .card__shop p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #595844;
}

.prueba .container a {
  text-decoration: none;
}

.prueba .container .card__us {
  background-image: url(../assets/us.jpg);
  height: 500px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.prueba .container .card__us h3 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #595844;
}

.prueba .container .card__us p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #595844;
}

.steps {
  padding-bottom: 96px;
}

.steps .steps__ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.steps .steps__ h2 {
  margin-bottom: 60px;
  font-family: "Benne", serif;
}

.steps .steps__ .steps__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.steps .steps__ .steps__icons svg {
  fill: #C9C7AD;
}

.steps .steps__ .steps__icons p {
  padding-top: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.banner2 {
  background-color: #C9C7AD;
  max-width: 1900px;
  height: 500px;
}

.banner2 .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 50px;
}

.banner2 .banner .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(251, 252, 252, 0.8);
  margin-left: 50px;
  height: 401px;
  width: 70%;
  padding-left: 20px;
  padding-right: 20px;
}

.banner2 .banner .text h3 {
  font-family: "Benne", serif;
  text-transform: uppercase;
}

.banner2 .banner .text p {
  font-family: "Benne", serif;
  font-size: 18px;
}

.banner2 .banner .img {
  height: 250px;
  padding-right: 50px;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formulario .form__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 96px;
  text-align: center;
}

.formulario .form__container h2 {
  font-family: "Benne", serif;
  color: #595844;
}

.formulario .form__container .form-label {
  color: #474739;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario .form__container .form-control {
  border: 1px solid #73725E;
}

.formulario .btn {
  background-color: #73725E;
  color: #fff;
  border: 1px solid #73725E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
}

.formulario .btn:hover {
  border: 1px solid #73725E;
  color: #fff;
  background-color: #595844;
}

.carousel-inner {
  padding-top: 90px;
}

.carousel-inner .carousel-item img {
  height: 520px;
}

/* modificacion mapa de carrusel*/
/*Mobile Styles */
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #FBFCFC;
  }
}

.sectionProd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 9rem;
  padding-bottom: 1.5rem;
  background-color: #f8f8f8;
}

.sectionProd article {
  padding-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sectionProd article .cards {
  background: url(../assets/cuadrosx3.PNG);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 350px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionProd article .cards h5 {
  display: none;
  color: #fff;
}

.sectionProd article .cards p {
  display: none;
  color: #fff;
}

.sectionProd article .cards:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.3);
}

.sectionProd article .cards:hover h5 {
  display: block;
}

.sectionProd article .cards:hover p {
  display: block;
}

.sectionProd .article2 {
  padding-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sectionProd .article2 .cards {
  background: url(../assets/percherotiradores.JPG);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 350px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionProd .article2 .cards h5 {
  display: none;
  color: #fff;
}

.sectionProd .article2 .cards p {
  display: none;
  color: #fff;
}

.sectionProd .article2 .cards:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.3);
}

.sectionProd .article2 .cards:hover h5 {
  display: block;
}

.sectionProd .article2 .cards:hover p {
  display: block;
}

.sectionProd .article3 {
  padding-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sectionProd .article3 .cards {
  background: url(../assets/lamparacubo.PNG);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 350px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionProd .article3 .cards h5 {
  display: none;
  color: #fff;
}

.sectionProd .article3 .cards p {
  display: none;
  color: #fff;
}

.sectionProd .article3 .cards:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.3);
}

.sectionProd .article3 .cards:hover h5 {
  display: block;
}

.sectionProd .article3 .cards:hover p {
  display: block;
}

/* SUBMENU velas y lamparas*/
.section__velas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3.1rem;
  background-color: #C9C7AD;
  border-color: white;
  border-style: solid;
  border-width: 0.1rem;
}

.section__velas .article__velas {
  border-radius: 1.25rem;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

.section__velas .article__velas .imagenvela {
  width: 15rem;
  height: 22rem;
  -webkit-transition: all 2s;
  transition: all 2s;
  border-radius: 1.25rem;
}

.section__velas .article__velas .imagenvela:hover {
  padding: 1.25rem;
  width: 21.8rem;
  height: 28.1rem;
}

.section__velas .article__velas .nombrevela {
  font-family: "Benne", serif;
  font-size: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.25rem;
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectiontabla {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  background-color: #C9C7AD;
}

.sectiontabla .tablaProducto {
  font-family: "Benne", serif;
  font-style: italic;
  font-size: 15px;
  margin-left: 65px;
}

/*Mobile Styles */
@media only screen and (max-width: 400px) {
  .sectionProd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .sectionProd .articleProd .imagenProducto img {
    width: 85%;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .sectionProd .articleProd .imagenProducto img:hover {
    width: 100%;
  }
  .sectionProd .articleProd .descripcionProducto {
    margin-top: 1.25rem;
    font-family: "Benne", serif;
    font-size: "Benne", serif-1px;
  }
  /*velas y lámparas*/
  .section__velas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .section__velas .article__velas {
    border-radius: 1.2rem;
    border-color: white;
    border-style: solid;
    border-width: 0.1rem;
  }
  .section__velas .article__velas .imagenvela {
    width: 85%;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .section__velas .article__velas .imagenvela:hover {
    padding: 1.2rem;
    width: 100%;
  }
  .section__velas .article__velas .nombrevela {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
  .tablaProducto {
    display: none;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sectionProd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .sectionProd .articleProd .imagenProducto img {
    width: 85%;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .sectionProd .articleProd .imagenProducto img:hover {
    width: 100%;
  }
  .sectionProd .articleProd .descripcionProducto {
    margin-top: 1.25rem;
    font-family: "Benne", serif;
    font-size: "Benne", serif-1px;
  }
  /*velas y lámparas*/
  .section__velas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .section__velas .article__velas {
    border-radius: 1.2rem;
    border-color: white;
    border-style: solid;
    border-width: 0.1rem;
  }
  .section__velas .article__velas .imagenvela {
    width: 85%;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .section__velas .article__velas .imagenvela:hover {
    padding: 1.2rem;
    width: 100%;
  }
  .section__velas .article__velas .nombrevela {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
}

.footer {
  background-color: #C9C7AD;
  height: 18rem;
  width: 100%;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .info__footer svg {
  fill: #73725E;
}

.footer .info__footer svg:hover {
  fill: #474739;
}

.footer .info__footer h4 {
  font-size: 20px;
  color: #474739;
  padding-top: 15px;
}

.footer .info__footer a {
  text-decoration: none;
  color: #73725E;
}

.footer .info__footer a:hover {
  color: #474739;
}

/*Mobile Styles */
@media only screen and (max-width: 400px) {
  .footer {
    width: 100%;
    margin-top: 1rem;
  }
  .footer .footer__div {
    width: 27%;
    margin-bottom: 5%;
  }
  .footer .footer__div .footer__titulo {
    font-size: 60%;
  }
  .footer .footer__div .footerlinks {
    font-size: 50%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .footer {
    width: 100%;
  }
  .footer .footer__div {
    width: 27%;
    margin-bottom: 5%;
  }
  .footer .footer__div .footer__titulo {
    font-size: 60%;
  }
  .footer .footer__div .footerlinks {
    font-size: 50%;
  }
}

body {
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */