/* VARIABLES*/
/*$bgbody: #FBFCFC;*/
/*$bgsection: #F6F2E9;*/
/* import secciones scss */
.encabezado {
  margin-top: 0;
  background-color: #fff;
}
.encabezado .carousel {
  max-width: 2000px;
}
.encabezado .navbar {
  padding-top: 0;
  padding-bottom: 0;
  z-index: 3;
  position: fixed;
  width: 100%;
}

li {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 14px;
}

ul ul {
  position: absolute;
  display: none;
}

ul li:hover ul {
  display: block;
  background-color: #D0BFB5;
}

li li {
  position: relative;
  display: block;
  margin: 5px 50px 10px 0px;
}

/* navegador */
.container-fluid {
  background-color: #73725E;
  padding: 10px 0;
  width: 100%;
}
.container-fluid .navbar-nav {
  display: flex;
  margin: auto;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  padding-top: 15px;
}
.container-fluid .navbar-nav li p {
  font-family: "Benne", serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
}
.container-fluid .navbar-nav .nav-link {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-weight: 200;
}
.container-fluid .navbar-nav .nav-link:hover {
  color: #D9D9D9;
}
.container-fluid .navbar-nav .dropdown-item {
  font-family: "Benne", serif;
  font-size: 15px;
  color: darkslategray;
}

/*Mobile Styles */
@media (max-width: 1000px) {
  .encabezado .navbar .carousel-inner {
    padding-top: 50px;
  }
  .banner2 .banner {
    max-width: 1000px;
  }
  .banner2 .banner .text {
    width: 200px;
  }
  .banner2 .banner .img {
    width: 400px;
    height: 150px;
  }
}
.prueba {
  padding-top: 96px;
  padding-bottom: 96px;
}
.prueba .container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 1200px;
}
.prueba .container a {
  text-decoration: none;
}
.prueba .container a .card__shop {
  background-image: url(../assets/descarga.jpg);
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.prueba .container a .card__shop h3 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #595844;
}
.prueba .container a .card__shop p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #595844;
}
.prueba .container a {
  text-decoration: none;
}
.prueba .container .card__us {
  background-image: url(../assets/us.jpg);
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.prueba .container .card__us h3 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #595844;
}
.prueba .container .card__us p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #595844;
}

.steps {
  padding-bottom: 96px;
}
.steps .steps__ {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.steps .steps__ h2 {
  margin-bottom: 60px;
  font-family: "Benne", serif;
}
.steps .steps__ .steps__icons {
  display: flex;
  justify-content: space-around;
}
.steps .steps__ .steps__icons svg {
  fill: #C9C7AD;
}
.steps .steps__ .steps__icons p {
  padding-top: 40px;
  justify-content: space-around;
}

.banner2 {
  background-color: #C9C7AD;
  max-width: 1900px;
  height: 500px;
}
.banner2 .banner {
  display: flex;
  width: 100%;
  padding-top: 50px;
}
.banner2 .banner .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: rgba(251, 252, 252, 0.8);
  margin-left: 50px;
  height: 401px;
  width: 70%;
  padding-left: 20px;
  padding-right: 20px;
}
.banner2 .banner .text h3 {
  font-family: "Benne", serif;
  text-transform: uppercase;
}
.banner2 .banner .text p {
  font-family: "Benne", serif;
  font-size: 16px;
}
.banner2 .banner .img {
  height: 250px;
  padding-right: 50px;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.formulario .container {
  max-width: 900px;
}
.formulario .container .form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 96px;
  text-align: center;
}
.formulario .container .form__container h2 {
  font-family: "Benne", serif;
  color: #595844;
}
.formulario .container .form__container .form-label {
  color: #474739;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formulario .container .form__container .form-control {
  border: 1px solid #73725E;
}
.formulario .btn {
  background-color: #73725E;
  color: #fff;
  border: 1px solid #73725E;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}
.formulario .btn:hover {
  border: 1px solid #73725E;
  color: #fff;
  background-color: #595844;
}

.carousel-inner {
  padding-top: 90px;
}
.carousel-inner .carousel-item img {
  height: 520px;
}

/* modificacion mapa de carrusel*/
/*Mobile Styles */
@media (max-width: 961px) {
  .prueba {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .prueba .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 900px;
  }
  .prueba .container a {
    text-decoration: none;
  }
  .prueba .container a .card__shop {
    background-image: url(../assets/descarga.jpg);
    height: 400px;
    width: 400px;
    margin-bottom: 40px;
  }
  .prueba .container a .card__shop h3 {
    font-size: 30px;
  }
  .prueba .container a .card__shop p {
    font-size: 15px;
  }
  .prueba .container .card__us {
    background-image: url(../assets/us.jpg);
    height: 400px;
    width: 400px;
    display: flex;
  }
  .prueba .container .card__us h3 {
    font-size: 30px;
  }
  .prueba .container .card__us p {
    font-size: 15px;
  }
  .steps {
    padding-bottom: 60px;
  }
  .steps .steps__ {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .steps .steps__ h2 {
    margin-bottom: 60px;
    font-family: "Benne", serif;
  }
  .steps .steps__ .steps__icons {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .steps .steps__ .steps__icons svg {
    fill: #C9C7AD;
  }
  .steps .steps__ .steps__icons p {
    padding-top: 40px;
    justify-content: space-around;
  }
  .banner2 {
    max-width: 100%;
    height: 500px;
  }
  .banner2 .banner {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .banner2 .banner .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: rgba(251, 252, 252, 0.8);
    margin: auto;
    height: 201px;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .banner2 .banner .text h3 {
    font-family: "Benne", serif;
    text-transform: uppercase;
  }
  .banner2 .banner .text p {
    font-family: "Benne", serif;
    font-size: 14px;
  }
  .banner2 .banner .img {
    height: 100px;
    padding-right: 0px;
    padding-left: 0px;
    width: 600px;
  }
}
.sectionProd {
  padding-top: 150px;
}
.sectionProd .container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.sectionProd .container .card {
  background-color: #f1f1f1;
  box-shadow: 7px 18px 53px -12px rgba(0, 0, 0, 0.55);
}
.sectionProd .container .card img {
  max-height: 300px;
}
.sectionProd .container .card .card-body {
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}
.sectionProd .container .card .card-body .btn {
  background-color: #73725e;
  color: #fff;
  border: 1px solid #73725e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}
.sectionProd .container .card .card-body .btn:hover {
  border: 1px solid #73725e;
  color: #fff;
  background-color: #595844;
}

.footer {
  background-color: #C9C7AD;
  height: 15rem;
  width: 100%;
  margin-top: 5rem;
}
.footer .container {
  display: flex;
  padding-top: 3.5rem;
  justify-content: space-around;
  align-items: center;
}
.footer .container .info__footer svg {
  fill: #73725E;
  margin: auto;
}
.footer .container .info__footer svg:hover {
  fill: #474739;
}
.footer .container .info__footer h4 {
  font-size: 20px;
  color: #474739;
  padding-top: 15px;
}
.footer .container .info__footer a {
  text-decoration: none;
  color: #73725E;
}
.footer .container .info__footer a:hover {
  color: #474739;
}

/*Mobile Styles */
@media only screen and (max-width: 400px) {
  .footer {
    width: 100%;
    margin-top: 1rem;
  }
  .footer .footer__div {
    width: 27%;
    margin-bottom: 5%;
  }
  .footer .footer__div .footer__titulo {
    font-size: 60%;
  }
  .footer .footer__div .footerlinks {
    font-size: 50%;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .footer {
    width: 100%;
  }
  .footer .footer__div {
    width: 27%;
    margin-bottom: 5%;
  }
  .footer .footer__div .footer__titulo {
    font-size: 60%;
  }
  .footer .footer__div .footerlinks {
    font-size: 50%;
  }
}
body {
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */