@charset "UTF-8";
/* VARIABLES*/
/*$bgbody: #FBFCFC;*/
/*$bgsection: #F6F2E9;*/
/* import secciones scss */
.encabezado {
  margin-top: 0;
  background-color: #73725E;
}

.encabezado .navbar {
  padding-top: 0;
  padding-bottom: 0;
  z-index: 3;
  position: fixed;
  width: 100%;
}

li {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 14px;
}

ul ul {
  position: absolute;
  display: none;
}

ul li:hover ul {
  display: block;
  background-color: #D0BFB5;
}

li li {
  position: relative;
  display: block;
  margin: 5px 50px 10px 0px;
}

/* navegador */
.container-fluid {
  background-color: #73725E;
  padding: 10px 0;
  width: 100%;
}

.container-fluid .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  padding-top: 15px;
}

.container-fluid .navbar-nav li p {
  font-family: "Benne", serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
}

.container-fluid .navbar-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-weight: 200;
}

.container-fluid .navbar-nav .dropdown-item {
  font-family: "Benne", serif;
  font-size: 15px;
  color: darkslategray;
}

/*Mobile Styles */
@media only screen and (max-width: 400px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .navbar-nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    font-size: 20px;
    padding-right: 10%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .navbar-nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    font-size: 20px;
    padding-right: 10%;
  }
}

.prueba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 96px;
  padding-bottom: 96px;
}

.prueba a {
  text-decoration: none;
}

.prueba a .card__shop {
  background-image: url(./assets/descarga.jpg);
  height: 500px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prueba a .card__shop h3 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #595844;
}

.prueba a .card__shop p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #595844;
}

.prueba a {
  text-decoration: none;
}

.prueba .card__us {
  background-image: url(../assets/us.jpg);
  height: 500px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prueba .card__us h3 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #595844;
}

.prueba .card__us p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #595844;
}

.steps {
  padding-bottom: 96px;
}

.steps .steps__ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.steps .steps__ h2 {
  margin-bottom: 60px;
  font-family: "Benne", serif;
}

.steps .steps__ .steps__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.steps .steps__ .steps__icons svg {
  fill: #C9C7AD;
}

.steps .steps__ .steps__icons p {
  padding-top: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.banner2 {
  background-color: #C9C7AD;
  max-width: 1900px;
  height: 500px;
}

.banner2 .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.banner2 .banner .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(251, 252, 252, 0.8);
  margin-left: 50px;
  height: 401px;
  width: 70%;
  padding-left: 20px;
  padding-right: 20px;
}

.banner2 .banner .text h3 {
  font-family: "Benne", serif;
  text-transform: uppercase;
}

.banner2 .banner .text p {
  font-family: "Benne", serif;
  font-size: 18px;
}

.banner2 .banner .img {
  height: 250px;
  padding-right: 50px;
}

.formulario {
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formulario .form__container {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 96px;
}

.formulario .form__container .form-label {
  color: #474739;
}

.formulario .form__container .form-control {
  border: 1px solid #73725E;
}

.formulario .btn {
  border: 1px solid #73725E;
  color: #73725E;
  margin-bottom: 96px;
}

.formulario .btn:hover {
  background-color: #73725E;
  color: #fff;
  border: 1px solid #73725E;
}

.carousel-inner {
  padding-top: 90px;
}

.carousel-inner .carousel-item img {
  height: 520px;
}

/* modificacion mapa de carrusel*/
/*Mobile Styles */
@media only screen and (max-width: 400px) {
  section {
    width: 100%;
    height: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  section {
    width: 100%;
    height: 100%;
  }
  .sectionHistoria .historia__article--parrafo {
    font-size: 85%;
    margin-right: 20%;
  }
  .sectionHistoria .imagen__historia {
    margin-top: 40%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #FBFCFC;
  }
}

.contacto__titulo {
  color: darkslategray;
  font-size: 3.1rem;
  font-weight: 300;
  font-family: "Benne", serif;
  margin-left: 3.1rem;
  margin-top: 1.8rem;
}

.contactoSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #C9C7AD;
  margin-top: 4.3rem;
  margin-bottom: 8rem;
}

.contactoSection .contacto__div {
  text-align: center;
  margin-top: 4.6rem;
  margin-bottom: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactoSection .contacto__div .contactoLink {
  margin-bottom: 2rem;
  text-decoration: none;
  color: darkslategray;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Benne", serif;
}

.contactoSection .formularioSuscribirse {
  -webkit-transition: all 2s;
  transition: all 2s;
  width: 6.25rem;
  margin: auto;
  text-align: center;
  margin-right: 9.3rem;
}

.contactoSection .formularioSuscribirse .formularioSuscribirse input:focus {
  width: 9.3rem;
  font-size: 1.25rem;
}

.contactoSection .formularioSuscribirse .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15px;
}

.contactoSection .formularioSuscribirse .btn {
  background-color: #CCB3A3;
}

.contactoSection .labelcheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1.8rem;
  margin-top: 4rem;
}

.contactoSection .labelcheck .labelForm {
  color: darkslategray;
  font-size: 15px;
  font-size: 20px;
  font-family: 'Benne', serif;
  margin-right: 5px;
}

.banner .img-fluid {
  margin-top: 30px;
  width: 100%;
  height: 18rem;
}

/*Mobile Styles */
@media only screen and (max-width: 400px) {
  .contactoSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .contactoSection .contacto__titulo {
    margin-left: 0rem;
    font-size: 2rem;
  }
  .contactoSection .contactoUl {
    width: 40%;
    margin-bottom: 7%;
  }
  .contactoSection .formularioSuscribirse {
    width: 39%;
    margin-top: 0%;
  }
  .contactoSection .labelcheck {
    margin-bottom: 8%;
  }
  .banner .img-fluid {
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .contactoSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .contactoSection .contacto__titulo {
    margin-left: 0rem;
  }
  .contactoSection .contactoUl {
    width: 40%;
    margin-bottom: 7%;
  }
  .contactoSection .formularioSuscribirse {
    width: 39%;
    margin-top: 0%;
  }
  .contactoSection .labelcheck {
    margin-bottom: 8%;
  }
}

.sectionProd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5.5rem;
  padding-bottom: 3.5rem;
  background-color: #fff;
}

.sectionProd article {
  padding-top: 20px;
  margin-bottom: 20px;
}

.sectionProd article .card .card-body {
  background-color: rgba(0, 0, 0, 0.2);
}

/* SUBMENU velas y lamparas*/
.section__velas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3.1rem;
  background-color: #C9C7AD;
  border-color: white;
  border-style: solid;
  border-width: 0.1rem;
}

.section__velas .article__velas {
  border-radius: 1.25rem;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

.section__velas .article__velas .imagenvela {
  width: 15rem;
  height: 22rem;
  -webkit-transition: all 2s;
  transition: all 2s;
  border-radius: 1.25rem;
}

.section__velas .article__velas .imagenvela:hover {
  padding: 1.25rem;
  width: 21.8rem;
  height: 28.1rem;
}

.section__velas .article__velas .nombrevela {
  font-family: "Benne", serif;
  font-size: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.25rem;
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectiontabla {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  background-color: #C9C7AD;
}

.sectiontabla .tablaProducto {
  font-family: "Benne", serif;
  font-style: italic;
  font-size: 15px;
  margin-left: 65px;
}

/*Mobile Styles */
@media only screen and (max-width: 400px) {
  .sectionProd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .sectionProd .articleProd .imagenProducto img {
    width: 85%;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .sectionProd .articleProd .imagenProducto img:hover {
    width: 100%;
  }
  .sectionProd .articleProd .descripcionProducto {
    margin-top: 1.25rem;
    font-family: "Benne", serif;
    font-size: "Benne", serif-1px;
  }
  /*velas y lámparas*/
  .section__velas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .section__velas .article__velas {
    border-radius: 1.2rem;
    border-color: white;
    border-style: solid;
    border-width: 0.1rem;
  }
  .section__velas .article__velas .imagenvela {
    width: 85%;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .section__velas .article__velas .imagenvela:hover {
    padding: 1.2rem;
    width: 100%;
  }
  .section__velas .article__velas .nombrevela {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
  .tablaProducto {
    display: none;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sectionProd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .sectionProd .articleProd .imagenProducto img {
    width: 85%;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .sectionProd .articleProd .imagenProducto img:hover {
    width: 100%;
  }
  .sectionProd .articleProd .descripcionProducto {
    margin-top: 1.25rem;
    font-family: "Benne", serif;
    font-size: "Benne", serif-1px;
  }
  /*velas y lámparas*/
  .section__velas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .section__velas .article__velas {
    border-radius: 1.2rem;
    border-color: white;
    border-style: solid;
    border-width: 0.1rem;
  }
  .section__velas .article__velas .imagenvela {
    width: 85%;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .section__velas .article__velas .imagenvela:hover {
    padding: 1.2rem;
    width: 100%;
  }
  .section__velas .article__velas .nombrevela {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
}

.sectionhandmade {
  margin-top: 3.1rem;
}

.sectionhandmade .titulohm {
  font-family: "Benne", serif;
  margin-top: 0.9rem;
  color: darkslategray;
  font-size: 1.25rem;
}

.sectionhandmade .titulohm .txthandmade {
  margin-top: 5rem;
  font-family: "Benne", serif;
  font-style: italic;
  color: darkslategray;
  font-size: 1.5rem;
  margin-left: 4.3rem;
}

.sectionhandmade .artichandmade {
  background-color: #C9C7AD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

.sectionhandmade .artichandmade .imghandmade {
  width: 15rem;
  height: 22rem;
  margin-left: 1.25rem;
  margin-right: 5rem;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
}

.sectionhandmade2 {
  margin-top: 1.5rem;
}

.sectionhandmade2 .artichandmade2 {
  background-color: #C9C7AD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

.sectionhandmade2 .artichandmade2 .imghandmade2 {
  width: 15rem;
  height: 22rem;
  margin-left: 3.1rem;
  margin-right: 3.1rem;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
}

.sectionhandmade2 .artichandmade2 .txthandmade2 {
  margin-top: 5rem;
  font-family: "Benne", serif;
  font-style: italic;
  color: darkslategray;
  font-size: 1.5rem;
  margin-left: 12.5rem;
  margin-right: 3.1rem;
}

/*Mobile Styles */
@media only screen and (max-width: 400px) {
  /* handmade*/
  .sectionhandmade .artichandmade {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    border-color: white;
    border-style: solid;
    border-width: 2px;
  }
  .sectionhandmade .artichandmade .imghandmade {
    width: 80%;
    margin-bottom: 1.8rem;
    margin-top: 1.8rem;
  }
  .sectionhandmade .artichandmade .titulohm {
    margin-bottom: 20%;
  }
  .sectionhandmade .artichandmade .titulohm .txthandmade {
    margin-top: 5%;
    font-size: 70%;
  }
  .sectionhandmade2 .artichandmade2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-color: white;
    border-style: solid;
    border-width: 2px;
  }
  .sectionhandmade2 .artichandmade2 .imghandmade2 {
    width: 80%;
    margin-bottom: 1.8rem;
    margin-top: 1.8rem;
  }
  .sectionhandmade2 .artichandmade2 .txthandmade2 {
    margin-top: 0;
    font-size: 80%;
    margin-left: 20%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sectionhandmade .artichandmade {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    border-color: white;
    border-style: solid;
    border-width: 2px;
  }
  .sectionhandmade .artichandmade .imghandmade {
    width: 80%;
    margin-bottom: 1.8rem;
    margin-top: 1.8rem;
  }
  .sectionhandmade .artichandmade .titulohm {
    margin-bottom: 20%;
  }
  .sectionhandmade .artichandmade .titulohm .txthandmade {
    margin-top: 5%;
    font-size: 70%;
  }
  .sectionhandmade2 .artichandmade2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-color: white;
    border-style: solid;
    border-width: 2px;
  }
  .sectionhandmade2 .artichandmade2 .imghandmade2 {
    width: 80%;
    margin-bottom: 1.8rem;
    margin-top: 1.8rem;
  }
  .sectionhandmade2 .artichandmade2 .txthandmade2 {
    margin-top: 0;
    font-size: 80%;
    margin-left: 20%;
  }
}

.footer {
  background-color: #C9C7AD;
  height: 18rem;
  width: 100%;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .info__footer svg {
  fill: #73725E;
}

.footer .info__footer svg:hover {
  fill: #474739;
}

.footer .info__footer h4 {
  font-size: 20px;
  color: #474739;
  padding-top: 15px;
}

.footer .info__footer a {
  text-decoration: none;
  color: #73725E;
}

.footer .info__footer a:hover {
  color: #474739;
}

/*Mobile Styles */
@media only screen and (max-width: 400px) {
  .footer {
    width: 100%;
    margin-top: 1rem;
  }
  .footer .footer__div {
    width: 27%;
    margin-bottom: 5%;
  }
  .footer .footer__div .footer__titulo {
    font-size: 60%;
  }
  .footer .footer__div .footerlinks {
    font-size: 50%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .footer {
    width: 100%;
  }
  .footer .footer__div {
    width: 27%;
    margin-bottom: 5%;
  }
  .footer .footer__div .footer__titulo {
    font-size: 60%;
  }
  .footer .footer__div .footerlinks {
    font-size: 50%;
  }
}

body {
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */